{%- style -%}
  .header-item--logo,
  .header-layout--left-center .header-item--logo,
  .header-layout--left-center .header-item--icons {
    -webkit-box-flex: 0 1 {{ section.settings.mobile_logo_width }}px;
    -ms-flex: 0 1 {{ section.settings.mobile_logo_width }}px;
    flex: 0 1 {{ section.settings.mobile_logo_width }}px;
  }

  @media only screen and (min-width: 769px) {
    .header-item--logo,
    .header-layout--left-center .header-item--logo,
    .header-layout--left-center .header-item--icons {
      -webkit-box-flex: 0 0 {{ section.settings.desktop_logo_width }}px;
      -ms-flex: 0 0 {{ section.settings.desktop_logo_width }}px;
      flex: 0 0 {{ section.settings.desktop_logo_width }}px;
    }
  }

  .site-header__logo a {
    max-width: {{ section.settings.mobile_logo_width }}px;
  }
  .is-light .site-header__logo .logo--inverted {
    max-width: {{ section.settings.mobile_logo_width }}px;
  }
  @media only screen and (min-width: 769px) {
    .site-header__logo a {
      max-width: {{ section.settings.desktop_logo_width }}px;
    }

    .is-light .site-header__logo .logo--inverted {
      max-width: {{ section.settings.desktop_logo_width }}px;
    }
  }
{%- endstyle -%}

{%- if template == 'index' -%}
  <h1 id="LogoContainer" class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
    <span class="visually-hidden">{{ shop.name }}</span>
{%- else -%}
  <div id="LogoContainer" class="h1 site-header__logo" itemscope itemtype="http://schema.org/Organization">
{%- endif -%}
{%- if section.settings.logo -%}
  {% comment %}
    .logo--has-inverted is only applied to the default logo if the inverted logo exists. That way it'll only be hidden on the slider when it has a backup.
  {% endcomment %}
  <a
    href="{{ routes.root_url }}"
    itemprop="url"
    class="site-header__logo-link{% if section.settings.logo-inverted %} logo--has-inverted{% endif %}"
    style="padding-top: {{ 100 | divided_by: section.settings.logo.aspect_ratio }}%">

    {%- render 'image-element',
      img: section.settings.logo,
      img_width: section.settings.desktop_logo_width | times: 2,
      img_height: section.settings.desktop_logo_width | divided_by: section.settings.logo.aspect_ratio,
      img_tag_width: section.settings.desktop_logo_width,
      sizes: section.settings.desktop_logo_width | append: 'px',
      widths: section.settings.desktop_logo_width | append: ', ' | append: section.settings.desktop_logo_width | times: 2,
      classes: 'small--hide',
      loading: 'eager',
      alt: section.settings.logo.alt | default: shop.name,
      itemprop: 'logo',
    -%}
    {%- render 'image-element',
      img: section.settings.logo,
      img_width: section.settings.mobile_logo_width | times: 2,
      img_height: section.settings.mobile_logo_width | divided_by: section.settings.logo.aspect_ratio,
      img_tag_width: section.settings.desktop_logo_width,
      sizes: section.settings.mobile_logo_width | append: 'px',
      widths: section.settings.mobile_logo_width | append: ', ' | append: section.settings.mobile_logo_width | times: 2,
      classes: 'medium-up--hide',
      loading: 'eager',
      alt: section.settings.logo.alt | default: shop.name,
    -%}
  </a>
  {%- if section.settings.logo-inverted -%}
    <a
      href="{{ routes.root_url }}"
      itemprop="url"
      class="site-header__logo-link logo--inverted"
      style="padding-top: {{ 100 | divided_by: section.settings.logo.aspect_ratio }}%">

      {%- render 'image-element',
        img: section.settings.logo-inverted,
        img_width: section.settings.desktop_logo_width | times: 2,
        img_height: section.settings.desktop_logo_width | divided_by: section.settings.logo-inverted.aspect_ratio,
        img_tag_width: section.settings.desktop_logo_width,
        sizes: section.settings.desktop_logo_width | append: 'px',
        widths: section.settings.desktop_logo_width | append: ', ' | append: section.settings.desktop_logo_width | times: 2,
        classes: 'small--hide',
        loading: 'eager',
        alt: section.settings.logo-inverted.alt | default: shop.name,
        itemprop: 'logo',
      -%}
      {%- render 'image-element',
        img: section.settings.logo-inverted,
        img_width: section.settings.mobile_logo_width | times: 2,
        img_height: section.settings.mobile_logo_width | divided_by: section.settings.logo-inverted.aspect_ratio,
        img_tag_width: section.settings.mobile_logo_width,
        sizes: section.settings.mobile_logo_width | append: 'px',
        widths: section.settings.mobile_logo_width | append: ', ' | append: section.settings.mobile_logo_width | times: 2,
        classes: 'medium-up--hide',
        loading: 'eager',
        alt: section.settings.logo-inverted.alt | default: shop.name,
      -%}
    </a>
  {%- endif -%}
{%- else -%}
  <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
{%- endif -%}
{%- if template == 'index' -%}
  </h1>
{%- else -%}
  </div>
{%- endif -%}
