{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <product-recommendations
    class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    data-url="{{ routes.product_recommendations_url }}?limit={{ section.settings.products_to_show }}"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}"
  >
    {%- liquid
      assign related_editorial_text = section.settings.editorial_text
      assign related_editorial_text_plain = related_editorial_text | strip_html | strip
      assign related_context_blob = product.title | append: ' ' | append: product.type | append: ' ' | append: product.vendor | downcase
      assign wiki_hub_page = pages['wiki']
      assign recipes_page = pages['recettes']
      assign contact_page = pages['contact']
      assign wiki_vanille_page = pages['wiki-vanille-bien-choisir']
      assign wiki_poivres_page = pages['wiki-poivres-baies-madagascar']
      assign wiki_sels_page = pages['wiki-sels-melanges']
      assign wiki_plantes_page = pages['wiki-huiles-essentielles-plantes']
      assign wiki_epices_page = pages['wiki-epices-madagascar']
      assign vanille_collection = collections['vanille-bourbon']
      assign poivres_collection = collections['poivre-baies']
      assign sels_collection = collections['sels']
      assign plantes_collection = collections['huiles-madagascar']
      assign epices_collection = collections['epices-madagascar']
      assign related_primary_label = 'Voir le catalogue'
      assign related_primary_url = routes.all_products_collection_url
      assign related_secondary_label = 'Lire le wiki'
      assign related_secondary_url = wiki_hub_page.url | default: '/pages/wiki'
      assign related_tertiary_label = 'Demander conseil'
      assign related_tertiary_url = contact_page.url | default: '/pages/contact'

      if related_context_blob contains 'vanille'
        assign related_primary_label = 'Voir la sélection vanille'
        assign related_primary_url = vanille_collection.url | default: routes.all_products_collection_url
        assign related_secondary_label = 'Bien choisir sa vanille'
        assign related_secondary_url = wiki_vanille_page.url | default: related_secondary_url
        assign related_tertiary_label = 'Voir les recettes'
        assign related_tertiary_url = recipes_page.url | default: '/pages/recettes'
      elsif related_context_blob contains 'poivre' or related_context_blob contains 'voatsiperifery' or related_context_blob contains 'baie'
        assign related_primary_label = 'Voir les poivres & baies'
        assign related_primary_url = poivres_collection.url | default: routes.all_products_collection_url
        assign related_secondary_label = 'Lire le guide poivres'
        assign related_secondary_url = wiki_poivres_page.url | default: related_secondary_url
        assign related_tertiary_label = 'Voir les recettes'
        assign related_tertiary_url = recipes_page.url | default: '/pages/recettes'
      elsif related_context_blob contains 'sel'
        assign related_primary_label = 'Voir les sels & mélanges'
        assign related_primary_url = sels_collection.url | default: routes.all_products_collection_url
        assign related_secondary_label = 'Lire le guide sels'
        assign related_secondary_url = wiki_sels_page.url | default: related_secondary_url
        assign related_tertiary_label = 'Voir les recettes'
        assign related_tertiary_url = recipes_page.url | default: '/pages/recettes'
      elsif related_context_blob contains 'huile' or related_context_blob contains 'ravintsara' or related_context_blob contains 'ylang'
        assign related_primary_label = 'Voir les plantes & huiles'
        assign related_primary_url = plantes_collection.url | default: routes.all_products_collection_url
        assign related_secondary_label = 'Lire le guide plantes'
        assign related_secondary_url = wiki_plantes_page.url | default: related_secondary_url
        assign related_tertiary_label = 'Demander conseil'
        assign related_tertiary_url = contact_page.url | default: '/pages/contact'
      elsif related_context_blob contains 'combava' or related_context_blob contains 'cannelle' or related_context_blob contains 'curcuma' or related_context_blob contains 'girofle' or related_context_blob contains 'gingembre'
        assign related_primary_label = 'Voir les épices'
        assign related_primary_url = epices_collection.url | default: routes.all_products_collection_url
        assign related_secondary_label = 'Lire le guide épices'
        assign related_secondary_url = wiki_epices_page.url | default: related_secondary_url
        assign related_tertiary_label = 'Voir les recettes'
        assign related_tertiary_url = recipes_page.url | default: '/pages/recettes'
      endif
    -%}
    {% if recommendations.performed and recommendations.products_count > 0 %}
      <div class="related-products__intro{% if related_editorial_text_plain == blank %} related-products__intro--simple{% endif %}">
        <div class="related-products__intro-copy">
          <span class="vd-section-kicker">Sélection associée</span>
          <h2 class="related-products__heading inline-richtext {{ section.settings.heading_size }}">
            {{ section.settings.heading }}
          </h2>
        </div>
        {%- if related_editorial_text_plain != blank -%}
          <div class="related-products__intro-note rte">
            {{ related_editorial_text }}
          </div>
        {%- endif -%}
      </div>
      <ul
        class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
        role="list"
      >
        {% for recommendation in recommendations.products %}
          <li class="grid__item">
            {% render 'card-product',
              card_product: recommendation,
              show_vendor: section.settings.show_vendor,
              show_subtitle: true,
              show_product_type: true,
              premium_card: true,
              card_surface: section.settings.card_surface,
              lazy_load: true,
              section_id: section.id
            %}
          </li>
        {% endfor %}
      </ul>
    {% elsif recommendations.performed %}
      <div class="related-products__intro{% if related_editorial_text_plain == blank %} related-products__intro--simple{% endif %}">
        <div class="related-products__intro-copy">
          <span class="vd-section-kicker">Suite naturelle</span>
          <h2 class="related-products__heading inline-richtext {{ section.settings.heading_size }}">
            {{ section.settings.heading }}
          </h2>
        </div>
        {%- if related_editorial_text_plain != blank -%}
          <div class="related-products__intro-note rte">
            {{ related_editorial_text }}
          </div>
        {%- endif -%}
      </div>
      <div class="related-products__fallback">
        <p class="related-products__fallback-text">
          Ce produit peut encore se prolonger par une sélection cohérente et par les bons repères de lecture, même sans recommandation automatique disponible pour l’instant.
        </p>
        <div class="related-products__fallback-links">
          <a href="{{ related_primary_url }}" class="vd-arrow-cta" data-vd-preview-link>
            <span class="vd-arrow-cta__label">{{ related_primary_label }}</span>
            <svg class="vd-arrow-cta__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 16">
              <path d="M8 0 6.545 1.455l5.506 5.506H-30v2.078h42.052l-5.507 5.506L8 16l8-8Z" transform="translate(30)"></path>
            </svg>
          </a>
          <a href="{{ related_secondary_url }}" class="vd-arrow-cta" data-vd-preview-link>
            <span class="vd-arrow-cta__label">{{ related_secondary_label }}</span>
            <svg class="vd-arrow-cta__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 16">
              <path d="M8 0 6.545 1.455l5.506 5.506H-30v2.078h42.052l-5.507 5.506L8 16l8-8Z" transform="translate(30)"></path>
            </svg>
          </a>
          {%- if related_tertiary_url != blank and related_tertiary_label != blank and related_tertiary_url != related_primary_url and related_tertiary_url != related_secondary_url -%}
            <a href="{{ related_tertiary_url }}" class="vd-arrow-cta" data-vd-preview-link>
              <span class="vd-arrow-cta__label">{{ related_tertiary_label }}</span>
              <svg class="vd-arrow-cta__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 16">
                <path d="M8 0 6.545 1.455l5.506 5.506H-30v2.078h42.052l-5.507 5.506L8 16l8-8Z" transform="translate(30)"></path>
              </svg>
            </a>
          {%- endif -%}
        </div>
      </div>
    {% endif %}
  </product-recommendations>
  {% if section.settings.image_shape == 'arch' %}
    {{ 'mask-arch.svg' | inline_asset_content }}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.related-products.settings.paragraph__1.default",
      "label": "t:sections.related-products.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "editorial_text",
      "label": "Texte d’introduction"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.related-products.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.related-products.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.related-products.settings.columns_mobile.options__2.label"
        }
      ]    
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.related-products.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.related-products.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.related-products.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.related-products.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.related-products.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.related-products.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.related-products.settings.show_rating.label",
      "info": "t:sections.related-products.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "card_surface",
      "label": "Surface des vignettes",
      "default": "dark",
      "options": [
        {
          "value": "dark",
          "label": "Sombre"
        },
        {
          "value": "light",
          "label": "Clair"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
