{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{%- liquid
  assign selected_reviews = blank
  assign selected_reviews_count = 0
  assign displayed_reviews_count = 0
  assign reviews_total = 0
  assign featured_rating = 5
  assign featured_quote = blank
  assign featured_author = blank
  assign featured_date = blank
  assign featured_product_title = blank
  assign featured_product_url = blank
  assign featured_source = blank
  assign featured_is_verified = false
  assign use_custom_reviews = false
  assign use_json_reviews = false
  assign display_limit = section.settings.reviews_limit | plus: 0

  if section.settings.reviews_source == 'product_metafield' and product != blank and product.metafields.custom.vd_reviews.value != blank
    assign selected_reviews = product.metafields.custom.vd_reviews.value
  elsif section.settings.reviews_source == 'product_metafield' and product != blank and product.metafields.custom.vd_reviews_json.value != blank
    assign selected_reviews = product.metafields.custom.vd_reviews_json.value
    assign use_json_reviews = true
  elsif section.settings.review_entries != blank
    assign selected_reviews = section.settings.review_entries
  endif

  assign selected_reviews_count = selected_reviews.count | default: selected_reviews.size | default: 0

  if selected_reviews_count > 0
    assign use_custom_reviews = true
  endif

  if use_custom_reviews
    for review in selected_reviews limit: display_limit
      if use_json_reviews
        assign review_rating = review.rating | default: 5 | round
        assign review_quote = review.quote | default: blank
        assign review_author = review.author | default: 'Client'
        assign review_context = review.context | default: blank
        assign review_source = review.source | default: blank

        if review.review_date != blank
          assign review_context = review.review_date | date: '%d/%m/%Y'
        endif
      else
        assign review_rating = review.rating.value | default: 5 | round
        assign review_quote = review.quote.value | default: blank
        assign review_author = review.author.value | default: 'Client'
        assign review_context = review.context.value | default: blank
        assign review_source = review.source.value | default: blank

        if review.review_date.value != blank
          assign review_context = review.review_date.value | date: '%d/%m/%Y'
        endif
      endif

      if review_source == blank
        assign review_source = 'Avis client'
      endif

      assign reviews_total = reviews_total | plus: review_rating
      assign displayed_reviews_count = displayed_reviews_count | plus: 1

      if forloop.first
        assign featured_rating = review_rating
        assign featured_quote = review_quote
        assign featured_author = review_author
        assign featured_date = review_context
        assign featured_source = review_source

        if use_json_reviews
          if review.verified == true or review.verified == 'true'
            assign featured_is_verified = true
          endif
        elsif review.verified.value == true
          assign featured_is_verified = true
        endif

        if use_json_reviews
          assign featured_product_title = review.product_title | default: blank
          assign featured_product_url = review.product_url | default: blank
        elsif review.product.value != blank
          assign featured_product_title = review.product.value.title
          assign featured_product_url = review.product.value.url
        endif
      endif
    endfor
  else
    for block in section.blocks limit: display_limit
      assign review_rating = block.settings.rating | default: 5 | round
      assign reviews_total = reviews_total | plus: review_rating
      assign displayed_reviews_count = displayed_reviews_count | plus: 1

      if forloop.first
        assign featured_rating = review_rating
        assign featured_quote = block.settings.quote
        assign featured_author = block.settings.author
        assign featured_date = block.settings.location
        assign featured_product_title = block.settings.meta
        assign featured_product_url = block.settings.product_link
        assign featured_source = 'Avis client'
      endif
    endfor
  endif

  if featured_source == blank
    assign featured_source = 'Avis client'
  endif

  if displayed_reviews_count > 0
    assign average_rating = reviews_total | times: 1.0 | divided_by: displayed_reviews_count
  else
    assign average_rating = 5
  endif

  assign trust_count = selected_reviews_count
  if trust_count == 0
    assign trust_count = section.blocks.size
  endif
-%}

<section
  class="section-{{ section.id }}-padding vd-testimonials color-{{ section.settings.color_scheme }}"
  data-vd-testimonials-section
  data-vd-testimonials-limit="{{ section.settings.reviews_limit }}"
>
  <div class="page-width vd-testimonials__header-shell" data-vd-testimonials-header>
    <div class="vd-testimonials__head" data-vd-testimonials-head>
      <div class="vd-testimonials__intro">
        {% if section.settings.eyebrow != blank %}
          <span class="vd-section-kicker">{{ section.settings.eyebrow }}</span>
        {% endif %}

        {% if section.settings.heading != blank %}
          <h2 class="vd-testimonials__title" data-vd-testimonials-title>{{ section.settings.heading }}</h2>
        {% endif %}
      </div>

      <div class="vd-testimonials__aside">
        {% if section.settings.text != blank %}
          <div class="vd-testimonials__text rte" data-vd-testimonials-copy>{{ section.settings.text }}</div>
        {% endif %}

        <div class="vd-testimonials__trust" data-vd-testimonials-trust>
          <span class="vd-testimonials__trust-label">{{ section.settings.trust_label }}</span>

          <div class="vd-testimonials__trust-copy">
            <strong>{{ average_rating | round: 1 }}/5</strong>
            <span>{{ trust_count }} avis archives</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-width vd-testimonials__featured-shell" data-vd-testimonials-featured-shell>
    <article class="vd-testimonials__featured" data-vd-testimonials-featured>
      <div class="vd-testimonials__featured-topline">
        <div class="vd-product-reviews__source-row">
          <span class="vd-testimonials__featured-source" data-vd-testimonials-featured-source>{{ featured_source }}</span>
          {% if featured_is_verified %}
            {% render 'vd-review-verified-badge', class: 'vd-review-verified-badge' %}
          {% endif %}
        </div>
        <div data-vd-testimonials-featured-stars>
          {% render 'vd-review-stars', rating: featured_rating, class: 'vd-testimonials__featured-stars' %}
        </div>
      </div>

      <div class="vd-testimonials__featured-product-wrap" data-vd-testimonials-featured-product-wrap {% if featured_product_title == blank %}hidden{% endif %}>
        <a
          {% if featured_product_url != blank %}
            href="{{ featured_product_url }}"
          {% else %}
            aria-disabled="true"
          {% endif %}
          class="vd-testimonials__featured-product-link"
          data-vd-testimonials-featured-product
        >
          {{ featured_product_title }}
        </a>
      </div>

      <blockquote class="vd-testimonials__featured-quote" data-vd-testimonials-featured-quote>{{ featured_quote }}</blockquote>

      <div class="vd-testimonials__featured-footer">
        <div class="vd-testimonials__featured-meta">
          <strong data-vd-testimonials-featured-author>{{ featured_author }}</strong>
          <span data-vd-testimonials-featured-date>{{ featured_date }}</span>
        </div>

        {% if section.settings.button_label != blank %}
          <a
            href="{{ section.settings.button_link | default: '#' }}"
            class="vd-arrow-cta vd-testimonials__cta"
            data-vd-testimonials-cta
            {% if section.settings.button_link != blank %}
              data-vd-testimonials-static-link="true"
            {% endif %}
          >
            <span class="vd-arrow-cta__label">{{ section.settings.button_label }}</span>
            <svg class="vd-arrow-cta__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 16">
              <path d="M8 0 6.545 1.455l5.506 5.506H-30v2.078h42.052l-5.507 5.506L8 16l8-8Z" transform="translate(30)"></path>
            </svg>
          </a>
        {% endif %}
      </div>
    </article>
  </div>

  <div class="vd-testimonials__stage" data-vd-testimonials-stage>
    <div class="vd-testimonials__viewport" data-vd-testimonials-viewport>
      <ul class="vd-testimonials__cards" data-vd-testimonials-cards role="list">
        {% if use_custom_reviews %}
          {% for review in selected_reviews limit: display_limit %}
            {%- liquid
              assign review_is_verified = false
              assign review_product_title = blank
              assign review_product_url = blank

              if use_json_reviews
                assign review_rating = review.rating | default: 5 | round
                assign review_quote = review.quote | default: blank
                assign review_author = review.author | default: 'Client'
                assign review_context = review.context | default: blank
                assign review_source = review.source | default: blank
                assign review_product_title = review.product_title | default: blank
                assign review_product_url = review.product_url | default: blank

                if review.review_date != blank
                  assign review_context = review.review_date | date: '%d/%m/%Y'
                endif

                if review.verified == true or review.verified == 'true'
                  assign review_is_verified = true
                endif
              else
                assign review_rating = review.rating.value | default: 5 | round
                assign review_quote = review.quote.value | default: blank
                assign review_author = review.author.value | default: 'Client'
                assign review_context = review.context.value | default: blank
                assign review_source = review.source.value | default: blank
                assign review_product = review.product.value

                if review.review_date.value != blank
                  assign review_context = review.review_date.value | date: '%d/%m/%Y'
                endif

                if review.verified.value == true
                  assign review_is_verified = true
                endif

                if review_product != blank
                  assign review_product_title = review_product.title
                  assign review_product_url = review_product.url
                endif
              endif

              if review_source == blank
                assign review_source = 'Avis client'
              endif
            -%}
            <li
              class="vd-testimonials__card"
              data-vd-testimonial-card
              role="listitem"
              {% if review_product_url != blank %}
                data-vd-testimonial-link="{{ review_product_url }}"
              {% endif %}
            >
              <article
                class="vd-testimonials__card-shell"
                data-vd-testimonial-shell
                tabindex="0"
                data-vd-testimonial-rating="{{ review_rating }}"
                data-vd-testimonial-author="{{ review_author | escape }}"
                data-vd-testimonial-date="{{ review_context | escape }}"
                data-vd-testimonial-product="{{ review_product_title | escape }}"
                data-vd-testimonial-quote="{{ review_quote | strip_html | escape }}"
                data-vd-testimonial-source-label="{{ review_source | escape }}"
              >
                <div class="vd-testimonials__card-top">
                  <div class="vd-product-reviews__source-row">
                    {% render 'vd-review-stars', rating: review_rating, class: 'vd-testimonials__stars' %}
                    {% if review_is_verified %}
                      {% render 'vd-review-verified-badge', class: 'vd-review-verified-badge' %}
                    {% endif %}
                  </div>

                  {% if review_product_title != blank %}
                    {% if review_product_url != blank %}
                      <a href="{{ review_product_url }}" class="vd-testimonials__product-link">{{ review_product_title }}</a>
                    {% else %}
                      <span class="vd-testimonials__product-link">{{ review_product_title }}</span>
                    {% endif %}
                  {% endif %}
                </div>

                {% if review_quote != blank %}
                  <blockquote class="vd-testimonials__quote" data-vd-testimonial-quote>{{ review_quote }}</blockquote>
                {% endif %}

                <div class="vd-testimonials__meta">
                  <strong>{{ review_author }}</strong>
                  {% if review_context != blank %}
                    <span>{{ review_context }}</span>
                  {% endif %}
                </div>
              </article>
            </li>
          {% endfor %}
        {% else %}
          {% for block in section.blocks limit: display_limit %}
            {% assign rating = block.settings.rating | default: 5 %}
            <li
              class="vd-testimonials__card"
              data-vd-testimonial-card
              role="listitem"
              {% if block.settings.product_link != blank %}
                data-vd-testimonial-link="{{ block.settings.product_link }}"
              {% endif %}
              {{ block.shopify_attributes }}
            >
              <article
                class="vd-testimonials__card-shell"
                data-vd-testimonial-shell
                tabindex="0"
                data-vd-testimonial-rating="{{ rating }}"
                data-vd-testimonial-author="{{ block.settings.author | escape }}"
                data-vd-testimonial-date="{{ block.settings.location | escape }}"
                data-vd-testimonial-product="{{ block.settings.meta | escape }}"
                data-vd-testimonial-quote="{{ block.settings.quote | strip_html | escape }}"
                data-vd-testimonial-source-label="Avis client"
              >
                <div class="vd-testimonials__card-top">
                  {% render 'vd-review-stars', rating: rating, class: 'vd-testimonials__stars' %}

                  {% if block.settings.meta != blank %}
                    {% if block.settings.product_link != blank %}
                      <a href="{{ block.settings.product_link }}" class="vd-testimonials__product-link">
                        {{ block.settings.meta }}
                      </a>
                    {% else %}
                      <span class="vd-testimonials__product-link">{{ block.settings.meta }}</span>
                    {% endif %}
                  {% endif %}
                </div>

                {% if block.settings.quote != blank %}
                  <blockquote class="vd-testimonials__quote" data-vd-testimonial-quote>{{ block.settings.quote }}</blockquote>
                {% endif %}

                <div class="vd-testimonials__meta">
                  {% if block.settings.author != blank %}
                    <strong>{{ block.settings.author }}</strong>
                  {% endif %}

                  {% if block.settings.location != blank %}
                    <span>{{ block.settings.location }}</span>
                  {% endif %}
                </div>
              </article>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "VD Testimonials",
  "tag": "section",
  "class": "section section-vd-testimonials",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Sur-titre",
      "default": "Avis clients"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Titre",
      "default": "Des avis maison, relies directement a nos produits."
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Texte",
      "default": "<p>Un systeme d'avis proprietaire, editorialise dans le theme. La section peut lire une selection custom ou les avis relies au produit courant.</p>"
    },
    {
      "type": "select",
      "id": "reviews_source",
      "label": "Source des avis",
      "default": "selected_reviews",
      "options": [
        {
          "value": "selected_reviews",
          "label": "Selection d'avis custom"
        },
        {
          "value": "product_metafield",
          "label": "Metachamp produit"
        },
        {
          "value": "manual_blocks",
          "label": "Blocs manuels"
        }
      ]
    },
    {
      "type": "metaobject_list",
      "id": "review_entries",
      "label": "Avis custom",
      "metaobject_type": "vd_review"
    },
    {
      "type": "text",
      "id": "trust_label",
      "label": "Label de confiance",
      "default": "Avis archives"
    },
    {
      "type": "select",
      "id": "reviews_limit",
      "label": "Nombre d'avis",
      "default": "6",
      "options": [
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Libelle bouton",
      "default": "Voir le produit"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Lien bouton"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Palette",
      "default": "scheme-3"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Marge haute",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Marge basse",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Apercu avis",
      "limit": 6,
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "label": "Note",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 5
        },
        {
          "type": "textarea",
          "id": "quote",
          "label": "Citation",
          "default": "\"Une longueur, une souplesse et une profondeur rares. On sent tout de suite que la selection est serieuse.\""
        },
        {
          "type": "text",
          "id": "author",
          "label": "Auteur",
          "default": "Jean-Marc L."
        },
        {
          "type": "text",
          "id": "location",
          "label": "Date ou contexte",
          "default": "Chef patissier, Lyon"
        },
        {
          "type": "text",
          "id": "meta",
          "label": "Nom produit",
          "default": "Bourbon Gourmet"
        },
        {
          "type": "url",
          "id": "product_link",
          "label": "Lien produit"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "VD Testimonials",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial",
          "settings": {
            "quote": "\"Les gousses sont charnues, souples, brillantes. Meme avant l'infusion, on voit la difference.\"",
            "author": "Elise B.",
            "location": "Passionnee de gastronomie",
            "meta": "Gousses noires"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "quote": "\"Le produit suit le discours. C'est net, precis, sans promesse en trop.\"",
            "author": "Thomas V.",
            "location": "Collectionneur d'epices",
            "meta": "Extrait premium"
          }
        }
      ]
    }
  ]
}
{% endschema %}
